table,
th,
td {
  border: 1px solid black;
}

.results-table {
  width: 100%;
  border-collapse: collapse;
}

.results-table th,
.results-table td {
  padding: 8px;
  text-align: center;
}

.results-table th {
  background-color: #f2f2f2;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  text-align: left;
  padding: 4px;
  border: 1px solid #f2f2f6;
  margin: 2px;
  border-radius: 4px;
}
