.App {
  font-family: Arial, sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0 auto;
  width: 100vw;
}

label {
  margin: 0 10px;
}

select {
  margin-left: 4px;
  padding: 8px 12px;
}

button {
  padding: 12px 24px;
  font-size: 16px;
  margin: 10px 0;
  cursor: pointer;
}

h2 {
  margin-top: 16px;
}

h3 {
  margin-top: 8px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  text-align: left;
}
